<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>人员列表</h1>
        <input type="text" placeholder="请输入关键字" v-model="keyWord">
        <button @click="sortType = 2">年龄升序</button>
        <button @click="sortType = 1">年龄降序</button>
        <button @click="sortType = 0">原顺序</button>
        <ul>
            <li v-for="(item, index) in filPerson" :key="item.id">{{item.name}}-{{item.age}}-{{item.sex}}</li>
            <!-- <li v-for="(item, index) of personList" :key="item.id">{{item.name}}-{{item.age}}-{{index}}</li> -->
        </ul>

    </div>
    <script>
        Vue.config.productionTip = false
        // computed计算实现
        new Vue({
            el: '#app',
            data() {
                return {
                    keyWord: '',
                    sortType: 0, // 0原顺序 1降序 2升序
                    personList: [
                        { id: '001', name: '马冬梅', age: 16, sex: 'female' },
                        { id: '002', name: '周冬雨', age: 17, sex: 'female' },
                        { id: '003', name: '周杰伦', age: 28, sex: 'male' },
                        { id: '004', name: '温兆伦', age: 18, sex: 'male' },
                    ]
                }
            },
            computed: {
                filPerson() {
                    const arr = this.personList.filter(item => item.name.indexOf(this.keyWord) !== -1)
                    // 判断排序
                    if(this.sortType) {
                        arr.sort((a, b)=>{
                            return this.sortType === 1 ? b.age - a.age : a.age - b.age
                        })
                    }
                    return arr
                }
            }
        })
        // let arr = [1, 3, 5, 2]
        // arr.sort((a, b) => a - b)
        // console.log(arr)
    </script>
</body>

</html>